.container-table {

    display: inline-block;
    width: 100;
    overflow: auto;
    border: 1px solid black;
    margin: 15px 100px;

}

table {

    height: 200px;
    width: 600px;
    table-layout:fixed;
    border-collapse: collapse;

}

td {

    border: 1px solid black;
    height: 50px;
    width: 50px;
    padding: 0px;

}

th{
    text-align: center;
}